/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb{
    background-color: #8C5D04;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffff;
    background-size: cover;
    /* fundo responsivo*/
    background-position: center;
    overflow-x: hidden;

}


.header {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 2px 1px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 5px inset transparent;
    border-image: linear-gradient(to right, #F2F2F2, #D9C6A3);
    border-image-slice: 1;
}

.logo .logoimg {
    width: 60px;
    height: 60px;
    transform: rotate(-90deg);
    font-size: 2em;
    color: #fff;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}


.navigation a {
    font-family: 'Poppins', sans-serif;
    top: 100%;
    position: relative;
    font-size: 1.1em;
    color: #A6823F;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigationMENU {
    display: none;
    position: absolute;
    right: 2.5rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #F2F2F2;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.navigationMENU.open {
    height: 200px; 
}

.navigationMENU a {
    display: block; 
    font-family: 'Poppins', sans-serif;
    font-size: 22px; 
    margin-bottom: 20px;
    text-align: center;
    color: #A6823F;
    text-decoration: none;
    font-weight: 500;
    margin-left: 0;
    transition: color 0.3s ease, transform 0.2s ease; 
}



.navigation a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #8C5D04;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: center;
    /* orientação da animação do nav bar */
    transform: scaleX(1);
}

.menuicon i {
    color: #8C5D04;
    font-size: 2.0em;
    cursor: pointer;
    display: none;
}

/* animação ao clicar no nav bar */

.navigation .btlogin {
    font-family: 'Poppins', sans-serif;
    width: 170px; 
    height: 50px;
    background-color: #A6783F;
    border: 2px solid #A6783F;
    outline: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    margin-left: 40px;
    text-transform: uppercase; 
    letter-spacing: 0.5px; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.navigation .btlogin:hover {
    background: #F2F2F2;
    color: #8C5D04;
    transform: translateY(-4px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}



.navigationMENU .btlogin2 {
    display: block;
    text-align: center;
    position: absolute;
    top: 70%; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 0.5em 1.5em;      
    background-color: #8C5D04;
    color: #F2F2F2;
    border: none;
    outline: none;
    border-radius: 15px;     
    font-size: 1em;           
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;      
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}


/* animação ao clicar no login */

.container {
    width: 100%;
    height: 100vh;
}

.box {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: large;
    text-align: justify;
    width: 500px;
    width: 325px;
    position: absolute;
    top: 50%;
    left: 70%;
    color: #122126;
    transform: translate(-50%, -50%);
}


section h2 {
    font-size: 42px;
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
}

.container2 {
    width: 100%;
    height: 100vh;
}

.indeximg {
    display: flex;
    max-width: 100%;
    height: 450px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.container4 {
    width: 100%;
    height: 100vh;
}

.container5 {
    width: 100%;
    height: 100vh;
}

.box5 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: large;
    text-align: justify;
    width: 450px;
    width: 450px;
    position: absolute;
    top: 118%;
    left: 30%;
    color: #122126;
    transform: translate(-50%, -50%);
}


.container6 {
    width: 100%;
    height: 100vh;
}

.box6 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: large;
    text-align: justify;
    width: 450px;
    width: 450px;
    position: absolute;
    top: 170%;
    left: 70%;
    color: #122126;
    transform: translate(-50%, -50%);
    
}

.box7 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: large;
    text-align: justify;
    width: 450px;
    width: 450px;
    position: absolute;
    top: 210%;
    left: 29%;
    color: #122126;
    transform: translate(-50%, -50%);
    
}

.container7 {
    width: 100%;
    height: 100vh;
}

.indeximg2 {
    display: flex;
    max-width: 100%;
    height: 400px;
    margin: 0;
    position: absolute;
    top: 118%;
    left: 70%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.container8 {
    max-width: 100%;
    height: 800px;
}

.indeximg3 {
    display: flex;
    max-width: 100%;
    height: 400px;
    margin: 0;
    position: absolute;
    top: 170%;
    left: 28%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.maps  {
    position: absolute;
    top: 200%;
    left: 55%;
}


footer {
    background-color: #EEF1F6;
    color: #000000;
    padding: 0px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    width: 100%;
    top: 285%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socialicons {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 10px;
    color: #b9afaf;
    font-size: large;
}

.contact h1 {
    margin: 0 10px;
}

.separator {
    height: 20px;
}

.register {
    color: #b9afaf;
    text-align: center;
    font-size: large;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 75%;
}

.socialicons i {
    font-size: 2em;
    color: #8C5D04;
    opacity: 8.9;
}

.socialicons a:hover {
    background-color: #F2F2F2;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: #122126;
    transition: 0.5s;
}

.address {
    text-align: center;
}


@media (max-width: 1200px) {


    .indeximg2 {
        position: absolute;
        top: 118%;
        left: 72%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
}

@media (max-width: 1020px) {

    .indeximg {
        position: absolute;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }

    .box {
        position: absolute;
        top: 50%;
        left: 75%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }

    .indeximg2 {
        height: 350px;
        position: absolute;
        top: 118%;
        left: 75%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }

    .indeximg3 {
        height: 350px;
        top: 170%;
        left: 25%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
}

/* Menu Hamburguer */

@media(max-width: 920px) {
    .navigation {
        display: none;
    }

    .menuicon i {
        display: block;
    }

    .navigationMENU {
        display: block;
    }

    .navigationMENU a {
        display: block;
    }

    .indeximg {
        height: 300px;
        top: 50%;
        left: 50%;
    }

    .box {
        top: 80%;
        left: 50%;
    }

    .indeximg2 {
        height: 300px;
        top: 118%;
        left: 90%;
    }

    .box5 {
        top: 118%;
        left: 40%;
    }

    .indeximg3 {
        height: 250px;
        top: 170%;
        left: 90%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }

    .box6 {
        top: 170%;
        left: 40%;
    }

    .box7 {
        left: 50%;
    }

    .maps {
        top: 220%;
        left: 20%;
    }

    .container3 img {
        max-width: 100%;
        height: 40px;
        margin: 0 10px;
        border-radius: 5px;
    }
}

@media (max-width: 692px) {
    .navigationMENU {
        left: 2rem;
        width: unset;
    }

    .indeximg2 {
        display: none;
    }

    .indeximg3 {
        display: none;
    }

    .box5 {
        top: 118%;
        left: 50%;
    }

    .box6 {
        top: 170%;
        left: 50%;
    }
    
    .maps{
        left: 2%;
    }

    .container3title {
        display: flex;
        position: absolute;
        top: 200%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 8px;
        text-align: left;
        font-family: 'Noto Sans JP', sans-serif;
    }
    
    .container3 {
        position: absolute;
        top: 210%;
        left: 55%;
        transform: translate(-50%, -50%);
    }

    .container3 img {
        max-width: 100%;
        height: 23px;
        margin: 0 10px;
        border-radius: 5px;
    }
}




