/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::-webkit-scrollbar{
    width: 5px;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb{
    background-color: #8C5D04;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffff;
    background-size: cover;
    /* fundo responsivo*/
    background-position: center;
    overflow-x: hidden;

}


.header {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0px;
    width: 100%;
    padding: 2px 1px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 5px inset transparent;
    border-image: linear-gradient(to right, #F2F2F2, #D9C6A3);
    border-image-slice: 1;
}

.logo .logoimg {
    width: 60px;
    height: 60px;
    transform: rotate(-90deg);
    font-size: 2em;
    color: #fff;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}


.navigation a {
    font-family: "Arvo", serif;
    top: 100%;
    position: relative;
    font-size: 1.3em;
    color: #A6823F;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigationMENU {

    display: none;
    position: absolute;
    right: 2.5rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #F2F2F2;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.navigationMENU.open {
    height: 200px; 
}

.navigationMENU a {
    display: block; 
    font-family:"Ancizar Serif", serif;
    font-size: 22px; 
    margin-bottom: 20px;
    text-align: center;
    color: #A6823F;
    text-decoration: none;
    font-weight: 500;
    margin-left: 0;
    transition: color 0.3s ease, transform 0.2s ease; 
}



.navigation a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #8C5D04;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: center;
    /* orientação da animação do nav bar */
    transform: scaleX(1);
}

.menuicon i {
    color: #8C5D04;
    font-size: 2.0em;
    cursor: pointer;
    display: none;
}

/* animação ao clicar no nav bar */

.navigation .btlogin {
    font-family: "Arvo", serif;
    width: 170px; 
    height: 50px;
    background-color: #A6783F;
    border: 2px solid #A6783F;
    outline: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    margin-left: 40px;
    text-transform: uppercase; 
    letter-spacing: 0.5px; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.navigation .btlogin:hover {
    background: #F2F2F2;
    color: #8C5D04;
    transform: translateY(-4px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}



.navigationMENU .btlogin2 {
    font-family: "Arvo", serif;
    display: block;
    text-align: center;
    position: absolute;
    top: 70%; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 0.5em 1.5em;      
    background-color: #8C5D04;
    color: #F2F2F2;
    border: none;
    outline: none;
    border-radius: 15px;     
    font-size: 1em;           
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;      
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}


/* animação ao clicar no login */

.container1 {
    width: 100%;
}

.box1 {
    font-family: 'Noto Sans JP', sans-serif;
     font-size: 1.3em;
    text-align: left;
    max-width: 100%;
    width: 450px;
}

.box1 h1 {
    font-family: "Cal Sans", sans-serif;
}


.box2 {
    font-family: 'Noto Sans JP', sans-serif;
     font-size: 1.3em;
    text-align: left;
    max-width: 100%;
    width: 450px;
}

.box2 h1 {
    font-family: "Cal Sans", sans-serif;
}

.box3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.3em;
    text-align: left;
    max-width: 100%;
    width: 450px;
}

.box3 h1 {
    font-family: "Cal Sans", sans-serif;
}

section h2 {
    font-size: 42px;
    text-align: left;
    font-family: 'Noto Sans JP', sans-serif;
}


.logosimg {
    max-width: 100%;
    width: 100px;
    height: 100px;
}

.indeximg1 {
    max-width: 100%;
    height: 340px;
    margin: 0;
    border-radius: 5px;
}

.indeximg2 {
    max-width: 100%;
    height: 320px;
    margin: 0;
    border-radius: 5px;
}

.indeximg3 {
    max-width: 100%;
    height: 340px;
    margin: 0;
    border-radius: 5px;
}

.container1 {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 20px;
}

.container2 {
    width: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 20px;
}

.container3 {
    width: 100%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    padding: 20px;
}

.container4 {
    position: absolute;
    top: 210%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 20px;
}


.indeximg {
    width: auto;
    max-width: 100%;
    height: 400px;
    border-radius: 5px;
}

.box8 {
    display: flex;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    cursor: pointer;
}

.box8 .btlogin3 {
    font-family: 'Poppins', sans-serif;
    width: 230px; 
    height: 80px;
    background-color: #A6783F;
    border: 2px solid #A6783F;
    outline: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    margin-left: 2px;
    text-transform: uppercase; 
    letter-spacing: 0.5px; 
    transition: all 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.container4 .btlogin3:hover {
    background: #F2F2F2;
    color: #8C5D04;
    transform: translateY(-4px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.indeximg1 .indeximg2 .indeximg3 {
    visibility: hidden;
}


footer {
    font-family: "Ancizar Sans", sans-serif;
    background-color: #EEF1F6;
    color: #000000;
    padding: 0px;
    text-align: right;
    position: absolute;
    bottom: 0px;
    width: 100%;
    top: 280%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.socialicons {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 10px;
    color: #b9afaf;
    font-size: large;
}

.register {
    color: #b9afaf;
    text-align: center;
    font-size: large;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 75%;
}

.socialicons i {
    font-size: 2em;
    color: #8C5D04;
    opacity: 8.9;
}

.socialicons a:hover {
    background-color: #d1c7c7;
    transition: 0.5s;
}

.socialicons a:hover i {
    color: black;
    transition: 0.5s;
}

@media(max-width: 1120px) {
    .indeximg1 {
        height: 225px;
        left: 75%;
    }

    .indeximg2 {
        height: 225px;
        left: 25%;
    }

    .box2 {
        top: 90%;
        left: 75%;
    }

    .indeximg3 {
        height: 225px;
        left: 75%;
    }

}

@media(max-width: 920px) {
    .navigation {
        display: none;
    }

    .menuicon i {
        display: block;
    }

    .navigationMENU {
        display: block;
    }

    .navigationMENU a {
        display: block;
    }

    .indeximg1 {
        height: 200px;
    }

    .box1 {
        width: 300px;
        height: 500px;
    }

    .indeximg2 {
        height: 180px;
    }

    .box2 {
        width: 300px;
    }

    .indeximg3 {
        height: 200px;
    }

    .box3 {
        width: 300px;
    }
    .container1{
        top:30%;
    }

    .container2{
        top:80%;
    }

    .container3{
        top:130%;
    }

    .container4{
        flex-direction: column;
        align-items: center;
        top:200%;
    }

    footer{
        top: 310%;
    }
}

@media (max-width: 692px) {

    .navigationMENU {
        left: 2rem;
        width: unset;
    }

    .indeximg1 {
        display: none;
    }

    .box1 {
        width: 450px;
    }

    .indeximg2 {
        display: none;
    }

    .box2 {
        width: 450px;
    }

    .indeximg3 {
        display: none;
    }

    .box3 {
        width: 450px;
    }

    .container1{
        top:20%;
    }

    .container2{
        top:60%;
    }

    .container3{
        top:100%;
    }

    .container4{
        flex-direction: column;
        align-items: center;
        top:140%;
    }

    .indeximg{
        height: 250px;
    }

    footer{
        top: 210%;
    }
}
